# Python
__pycache__/
*.pyc
*.pyo

# Pipenv
.venv/       # Pipenv's virtualenv folder
Pipfile.lock # Optional: Exclude if you don't want dependency versions tracked

# Secrets
.env
client_secrets.json

# IDE (VS Code)
.vscode/

#Website logo
website icon.png